<!DOCTYPE html>
<html>
  <head>
    <title>MVP</title>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap", rel: "stylesheet", media: "all" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://fonts.cdnfonts.com/css/ds-digital" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>
    <audio id="swish-sound" src="<%= asset_path('swish.mp3') %>" preload="auto"></audio>
    <audio id="fail-sound" src="<%= asset_path('missed-shot.mp3') %>" preload="auto"></audio>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
